/******************* Contact section styling begins here ***************/
#contact-me {
    height: 100vh;
    text-align: center;
    @include flexCenter(column);

    form {
        border: 1px solid #a9776e;
        width: max-content;
        margin-bottom: 5px;

        input {
            border: none;
            outline: none;
            width:100%;
            padding: 10px;
            border-radius: 4px;
            width: 300px;
        }

        textarea {
            border: none;
            outline: none;
            width: 300px;
            padding: 10px;
            border-radius: 4px;
        }
    }
}
/* Contact section styling ends here */