/***************** Navigation styling starts here *******/
#navbar {
    top: 0;
    @include flexCenter(row);
    justify-content: flex-end;
    width: 100%;
    position: fixed;
}

#nav-link {
    text-decoration: none;
    color: white;
}
/*Navigation styling ends here */


/**************** Welcome section starts here ************/
#welcome-section {
    text-decoration: aliceblue;
    @include flexCenter(column);
    height: 100vh;
    width: 100%;
    font-size: 25px;
}
/* Welcome section ends here */