/***************** Navigation styling starts here *******/
#navbar {
    top: 10px;
    right: 35px;
    @include flexCenter(row);
    justify-content: flex-end;
    width: 100%;
    position: fixed;

    #nav-link {
        text-decoration: none;
        color: rgb(212, 172, 172);
        padding: 20px;

        &:hover {
            padding: 10px;
            border-radius: 4px;
            background-color: #69353F;
            color: #a9776e;
            text-decoration: underline;
            transition: 1s;
        }
    }
}
/*Navigation styling ends here */


/**************** Welcome section starts here ************/
#welcome-section {
    text-decoration: aliceblue;
    @include flexCenter(column);
    height: 100vh;
    width: 100%;
    font-size: 25px;

    p {
        span {
            border-radius: 4px;
            background-color: #ffffff;
            color: #69353f;
            font-weight: 600;
            transition: 2s;
        }
    }

    button {
        @include button;
    }
}
/* Welcome section ends here */