/***************** Projects styling begins here ************/
.card {
    width: 100vw;
    @extend %base;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;

    .project1-card {
        border: 1px solid rgb(212, 172, 172);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 10px 10px 5px #7a6560;
        transition: 1s;

        img {
            width: 300px;
            height: 100px;
        }

        #bottom_layer {
            text-align: center;

            a {
                text-decoration: underline;
                color: rgb(212, 172, 172);
            }
        }
    }

    .project2-card {
        border: 1px solid rgb(212, 172, 172);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 10px 10px 5px #7a6560;
        transition: 1s;

        img {
            width: 300px;
            height: 100px;
        }

        #bottom_layer {
            text-align: center;

            a {
                text-decoration: underline;
                color: rgb(212, 172, 172);
            }
        }
    }

    .project3-card {
        border: 1px solid rgb(212, 172, 172);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 10px 10px 5px #7a6560;
        transition: 1s;

        img {
            width: 300px;
            height: 100px;
        }

        #bottom_layer {
            text-align: center;

            a {
                text-decoration: underline;
                color: rgb(212, 172, 172);
            }
        }
    }

    .project4-card {
        border: 1px solid rgb(212, 172, 172);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 10px 10px 5px #7a6560;

        img {
            width: 300px;
            height: 100px;
        }

        #bottom_layer {
            text-align: center;

            a {
                text-decoration: underline;
                color: rgb(212, 172, 172);
            }
        }
    }
}
/* Projects styling ends here */
